apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - secret-sealed.yaml

images:
- name: 929174734/flask-demo2
  newTag: 8a0fb5682885f1d8df287c865a441fd11535e8f2
